In [31]:
## all imports
from IPython.display import HTML
import numpy as np
import urllib2
import bs4 #this is beautiful soup
import time
import operator
import socket
import cPickle
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

#from secret import *

print "Hello CS109"

print "I love IPython"

# Ipython notebook have tab completion!
# and inbuild help

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
    sep='|', names=u_cols)

users.head()

Hello CS109
I love IPython

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [52]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 
    sep='\t', names=r_cols)
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [47]:
m_cols = ['movie_id', 'title', 'release_date', 
            'video_release_date', 'imdb_url']

movies = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
    sep='|', names=m_cols, usecols=range(5))

movies.head()

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

In [56]:
print movies.dtypes
print
print movies.describe()

movie_id                int64
title                  object
release_date           object
video_release_date    float64
imdb_url               object
dtype: object

          movie_id  video_release_date
count  1682.000000                 0.0
mean    841.500000                 NaN
std     485.695893                 NaN
min       1.000000                 NaN
25%     421.250000                 NaN
50%     841.500000                 NaN
75%    1261.750000                 NaN
max    1682.000000                 NaN

In [82]:
users.head()
users['occupation'].head()
#column_one = ['occupation']
#users[column_one].head()
#users.occupation.head()
#columns_I_want = ['occupation','sex']
#users[columns_I_want].head()

0    technician
1         other
2        writer
3    technician
4         other
Name: occupation, dtype: object

In [111]:
oldUser=users[users.age > 25]
oldUser.head()
aged_40_and_male = users[(users.age == 40)&(users.sex == 'M')]
female_programmer=users[(users.sex=='F')&(users.occupation =='programmer')]
female_programmer.describe()
print users[(users.sex=='F')& (users.occupation=='programmer')].describe()
print female_programmer.age.mean()
print female_programmer['age'].mean()

          user_id        age
count    6.000000   6.000000
mean   411.166667  32.166667
std    149.987222   5.115336
min    292.000000  26.000000
25%    313.000000  28.250000
50%    378.000000  32.000000
75%    416.750000  36.500000
max    698.000000  38.000000
32.1666666667
32.1666666667

In [8]:
## all imports
from IPython.display import HTML
import numpy as np
import urllib2
import bs4 #this is beautiful soup
import time
import operator
import socket
import cPickle
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
    sep='|', names=u_cols)
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [44]:
## all imports
from IPython.display import HTML
import numpy as np
import urllib2
import bs4 #this is beautiful soup
import time
import operator
import socket
import cPickle
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 
    sep='\t', names=r_cols)

print ratings.head()

m_cols = ['movie_id', 'title', 'release_date', 
            'video_release_date', 'imdb_url']

movies = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
    sep='|', names=m_cols, usecols=range(5))

#grooped_data  = ratings.groupby('user_id')
grouped_data = ratings.movie_id.groupby(ratings.user_id)
ratings_per_user = grouped_data.count()
ratings_per_user.head(10)

rating_of_per_movie = ratings.rating.groupby(ratings.movie_id)
average_rating = rating_of_per_movie.mean()
maximum_rating = average_rating.max()
good_movie_ids = average_rating[average_rating == maximum_rating].index
movies[movies.movie_id.isin(good_movie_ids)].title
how_many_ratings = grouped_data.count()
print "Number of ratings per movie"
print how_many_ratings[average_ratings == maximum_rating]

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596
Number of ratings per movie

NameError: name 'average_ratings' is not defined

In [18]:
from IPython.display import HTML
import numpy as np
import urllib2
import bs4 #this is beautiful soup
import time
import operator
import socket
import cPickle
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")
url = 'http://www.crummy.com/software/BeautifulSoup'
source = urllib2.urlopen(url).read()
#print source
print 'Alice' in source
print source.count('Soup')
print source.find('alien video games')
soup = bs4.BeautifulSoup(source)
 
## compare the two print statements
#print soup
#print soup.prettify()
soup.findAll('a')

False
41
1639

[<a href="bs4/download/"><h1>Beautiful Soup</h1></a>,
 <a href="#Download">Download</a>,
 <a href="bs4/doc/">Documentation</a>,
 <a href="#HallOfFame">Hall of Fame</a>,
 <a href="https://code.launchpad.net/beautifulsoup">Source</a>,
 <a href="https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup">Discussion group</a>,
 <a href="http://www.candlemarkandgleam.com/shop/constellation-games/"><i>Constellation\nGames</i>, my sci-fi novel about alien video games</a>,
 <a href="http://constellation.crummy.com/Constellation%20Games%20excerpt.html">read\nthe first two chapters for free</a>,
 <a href="https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup">the discussion\ngroup</a>,
 <a href="https://bugs.launchpad.net/beautifulsoup/">file it</a>,
 <a href="http://lxml.de/">lxml</a>,
 <a href="http://code.google.com/p/html5lib/">html5lib</a>,
 <a href="bs4/doc/">Read more.</a>,
 <a name="Download"><h2>Download Beautiful Soup</h2></a>,
 <a href="bs4/download/">Beautiful Soup\n4.4.1</a>,
 <a href="http://www.crummy.com/software/BeautifulSoup/bs3/documentation.html">Here's\nthe Beautiful Soup 3 documentation.</a>,
 <a href="download/3.x/BeautifulSoup-3.2.1.tar.gz">3.2.1</a>,
 <a name="HallOfFame"><h2>Hall of Fame</h2></a>,
 <a href="http://www.nytimes.com/2007/10/25/arts/design/25vide.html">"Movable\n Type"</a>,
 <a href="https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py">parse\na page that's been linked to and find a representative image</a>,
 <a href="http://www.harrowell.org.uk/viktormap.html">track the business\n activities</a>,
 <a href="http://svn.python.org/view/tracker/importer/">migrate the Python\nbug tracker from Sourceforge to Roundup</a>,
 <a href="http://www2.ljworld.com/">Lawrence Journal-World</a>,
 <a href="http://www.b-list.org/weblog/2010/nov/02/news-done-broke/">gather\nstatewide election results</a>,
 <a href="http://esrl.noaa.gov/gsd/fab/">NOAA's Forecast\nApplications Branch</a>,
 <a href="http://laps.noaa.gov/topograbber/">TopoGrabber</a>,
 <a href="http://groups.google.com/group/beautifulsoup/">the discussion\ngroup</a>,
 <a href="https://launchpad.net/beautifulsoup">Launchpad</a>,
 <a href="https://code.launchpad.net/beautifulsoup/">get the source\ncode</a>,
 <a href="https://bugs.launchpad.net/beautifulsoup/">file\nbugs</a>,
 <a href="/source/software/BeautifulSoup/index.bhtml">source</a>,
 <a href="/self/">Leonard Richardson</a>,
 <a href="/self/contact.html">contact information</a>,
 <a href="http://creativecommons.org/licenses/by-sa/2.0/"><img border="0" src="/nb//resources/img/somerights20.jpg"/></a>,
 <a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons License</a>,
 <a href="http://www.crummy.com/">http://www.crummy.com/</a>,
 <a href="http://www.crummy.com/software/">software/</a>,
 <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup/</a>]